<ng-container *transloco="let t">
  <mat-sidenav-container class="h-full">
    <mat-sidenav
      #drawer
      class="w-[300px]"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <mat-toolbar>
        <span class="font-medium text-gray-600">{{ t('menu') }}</span>
      </mat-toolbar>
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="subscribers"
          class="font-medium text-gray-600"
        >
          <mat-icon color="accent">group</mat-icon>
          <span class="ml-3 align-top">{{ t('subscribers') }}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <div class="flex w-full items-center justify-between">
          <span>Patatas Subscribers To Go</span>

          <div class="flex gap-x-3">
            <button
              mat-ripple
              (click)="changeLang(lang)"
              [class.bg-cyan-500]="activeLang === lang"
              class="h-8 w-8 rounded-full bg-gray-500 text-sm uppercase text-white"
              *ngFor="let lang of availableLangs"
            >
              {{ lang }}
            </button>
          </div>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
