<div class="flex h-full items-center justify-center bg-slate-100">
  <div class="w-[420px] rounded-md bg-white p-8 shadow-md">
    <h2 class="text-2xl font-medium text-gray-800">Patatas Subs 🥔</h2>
    <p class="mb-6 text-gray-800">Welcome back!</p>

    <div
      *ngIf="error"
      class="mb-4 flex rounded-md bg-red-100 p-4 text-sm text-red-800"
      role="alert"
    >
      <div>❌ {{ error }}</div>
    </div>

    <form
      name="form"
      novalidate
      [formGroup]="form"
      class="flex flex-col space-y-2"
      (ngSubmit)="login()"
    >
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="UserName" />

        <mat-error *ngIf="form.get('UserName')?.errors?.['required']">
          <span class="text-xs"> Username is required </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="Password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <span class="material-icons">{{
            hide ? 'visibility_off' : 'visibility'
          }}</span>
        </button>

        <mat-error *ngIf="form.get('Password')?.errors?.['required']">
          <span class="text-xs"> Password is required </span>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary">Log In</button>
    </form>

    <div class="flex h-12 items-end justify-center">
      <mat-spinner *ngIf="loading" diameter="30" color="accent"></mat-spinner>
    </div>
  </div>
</div>
