<div class="p-5" *transloco="let t">
  <div class="m-auto max-w-4xl rounded-md bg-white p-8 shadow-md">
    <div class="flex">
      <mat-icon
        color="accent"
        [fontIcon]="subscriber ? 'edit' : 'person_add'"
      ></mat-icon>
      <h2 class="mb-4 ml-2 text-xl font-medium text-gray-600">
        {{ t(subscriber ? 'edit_subscriber' : 'new_subscriber') }}
      </h2>
    </div>
    <form
      class="grid grid-cols-1 gap-x-5 gap-y-2 text-sm md:grid-cols-2"
      name="form"
      novalidate
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <mat-form-field>
        <mat-label>{{ t('Name') }}</mat-label>
        <input matInput formControlName="Name" />
        <mat-error *ngIf="form.get('Name')?.errors?.['required']">
          <span class="text-xs">{{ t('Name_required') }}</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ t('Email') }}</mat-label>
        <input matInput formControlName="Email" />
        <mat-error *ngIf="form.get('Email')?.errors?.['email']">
          <span class="text-xs">{{ t('Email_required') }}</span>
        </mat-error>
        <mat-error *ngIf="form.get('Email')?.errors?.['required']">
          <span class="text-xs">{{ t('Email_invalid') }}</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ t('CountryCode') }}</mat-label>
        <mat-select formControlName="CountryCode">
          <mat-option *ngFor="let item of countries" [value]="item.Code">
            {{ item.Code }} - {{ item.Name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('CountryCode')?.errors?.['required']">
          <span class="text-xs">{{ t('CountryCode_required') }}</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ t('PhoneNumber') }}</mat-label>
        <input matInput formControlName="PhoneNumber" />
        <mat-error *ngIf="form.get('PhoneNumber')?.errors?.['required']">
          <span class="text-xs">{{ t('PhoneNumber_required') }}</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ t('JobTitle') }}</mat-label>
        <input matInput formControlName="JobTitle" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ t('Area') }}</mat-label>
        <input matInput formControlName="Area" />
      </mat-form-field>

      <div class="col-span-full flex justify-between">
        <button
          mat-stroked-button
          color="accent"
          type="button"
          (click)="goBack()"
        >
          {{ t('back_to_list') }}
        </button>
        <div class="flex items-center gap-x-3">
          <mat-spinner
            *ngIf="saveloading"
            diameter="30"
            color="accent"
          ></mat-spinner>
          <button mat-flat-button color="primary">
            {{ t('save_changes') }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
